Demos/NinjaStore/NinjaStore.UnitTest/Connected Services/OrderHistoryService/OrderHistory2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57840/OrderHistory.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NinjaStore.SOAP" />
  <xs:element name="GetAllOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NinjaStore.SOAP" minOccurs="0" name="GetAllOrdersResult" nillable="true" type="q1:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderbyOrderID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderbyOrderIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NinjaStore.SOAP" minOccurs="0" name="GetOrderbyOrderIDResult" nillable="true" type="q2:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersbyProductID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersbyProductIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NinjaStore.SOAP" minOccurs="0" name="GetOrdersbyProductIDResult" nillable="true" type="q3:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersbyCustomerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomersId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersbyCustomerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NinjaStore.SOAP" minOccurs="0" name="GetOrdersbyCustomerIDResult" nillable="true" type="q4:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>