API Management Demos/NinjaStore/NinjaStore.UnitTest/Connected Services/OrderHistoryService/OrderHistory1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderHistory" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IOrders_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://ninjastorewcf.azurewebsites.net/OrderHistory.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://ninjastorewcf.azurewebsites.net/OrderHistory.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://ninjastorewcf.azurewebsites.net/OrderHistory.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NinjaStore.SOAP" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrders_GetAllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrders" />
  </wsdl:message>
  <wsdl:message name="IOrders_GetAllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrders_GetOrderbyOrderID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderbyOrderID" />
  </wsdl:message>
  <wsdl:message name="IOrders_GetOrderbyOrderID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderbyOrderIDResponse" />
  </wsdl:message>
  <wsdl:message name="IOrders_GetOrdersbyProductID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersbyProductID" />
  </wsdl:message>
  <wsdl:message name="IOrders_GetOrdersbyProductID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersbyProductIDResponse" />
  </wsdl:message>
  <wsdl:message name="IOrders_GetOrdersbyCustomerID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersbyCustomerID" />
  </wsdl:message>
  <wsdl:message name="IOrders_GetOrdersbyCustomerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersbyCustomerIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrders">
    <wsdl:operation name="GetAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrders/GetAllOrders" message="tns:IOrders_GetAllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrders/GetAllOrdersResponse" message="tns:IOrders_GetAllOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderbyOrderID">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrders/GetOrderbyOrderID" message="tns:IOrders_GetOrderbyOrderID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrders/GetOrderbyOrderIDResponse" message="tns:IOrders_GetOrderbyOrderID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrdersbyProductID">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrders/GetOrdersbyProductID" message="tns:IOrders_GetOrdersbyProductID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrders/GetOrdersbyProductIDResponse" message="tns:IOrders_GetOrdersbyProductID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrdersbyCustomerID">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrders/GetOrdersbyCustomerID" message="tns:IOrders_GetOrdersbyCustomerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrders/GetOrdersbyCustomerIDResponse" message="tns:IOrders_GetOrdersbyCustomerID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrders" type="tns:IOrders">
    <wsp:PolicyReference URI="#BasicHttpBinding_IOrders_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllOrders">
      <soap:operation soapAction="http://tempuri.org/IOrders/GetAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderbyOrderID">
      <soap:operation soapAction="http://tempuri.org/IOrders/GetOrderbyOrderID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersbyProductID">
      <soap:operation soapAction="http://tempuri.org/IOrders/GetOrdersbyProductID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersbyCustomerID">
      <soap:operation soapAction="http://tempuri.org/IOrders/GetOrdersbyCustomerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderHistory">
    <wsdl:port name="BasicHttpBinding_IOrders" binding="tns:BasicHttpBinding_IOrders">
      <soap:address location="https://ninjastorewcf.azurewebsites.net/OrderHistory.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>